/* Import Ancizar Serif font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

/* Styles for the body */
body {
  font-family: "Ancizar Serif", serif;
  font-weight: 400; /* or any weight between 300 and 900 */
  font-style: normal;
}



/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #ff69b4;
    color: white;
}

.resume-main {
	background-color: #F8C8DC;
	color: #ff69b4;
}

.resume-aside {
	background-color: #E0B0FF;
	color: #ff69b4;
}
  .language-level { background-color: white;

  	 }

 .pink-boarder {
  background-color: #F8C8DC }

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "*";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #ff69b4;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em; }
